.header {
    text-align: center;
}
.header h1 {
    text-shadow: black 1px 1px 1px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header h2 {
    color: black;
}
.header p {
    color: black;
}
.content {
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
}
#protectedContent { 
    display: none;
}
