#protectedContent { 
    display: none;
    position: top;
}
.header {
    background-color: black;
    color: whitesmoke;
    padding: 10px 0;
    text-align: center;
}
.header h1 {
    text-shadow: black 1px 1px 1px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header h2 {
    color: whitesmoke;
}
.header p {
     color: whitesmoke;
}
.content {
    position: top;
    padding: 20px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
}